<nav class="cAPIMNav navbar navbar-expand-lg navbar-light bg-light sticky-top cSmallNav cVisibleButton">
	<div class="container-fluid">
	  <a class="navbar-brand" style="width: 234px;" href="https://wso2.ai/" area-label="WSO2 API Manager" id="iAPIMLogo" aria-label="
        WSO2.ai
		">
        WSO2.ai
		</a>
	  <button class="navbar-toggler cMobileNavApim" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="cApimMenu">Menu</span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto">
  
  
  
		</ul>
  
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link cAPIMNAVLINK" href="https://wso2.ai/api-management/" aria-label="API Management">API Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link cINTNAVLINK" href="https://wso2.ai/integration/" aria-label="Integration">Integration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link cIAMNAVLINK" href="https://wso2.ai//identity-and-access-management/" aria-label="Identity and Access Management">Identity and Access Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link cIDPLINK" href="https://wso2.ai//internal-developer-platform/" aria-label="Internal Developer Platform">Internal Developer Platform</a>
    </li>
    <li class="nav-item">
        <a class="nav-link cIDPLINK" href="https://wso2.com/" aria-label="wso2.com home page">wso2.com</a>
    </li>
</ul>
  
	  </div>
	</div>
  </nav>