{%- if page.faq and page.faq.size > 0 -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {%- for item in page.faq -%}
    {%- assign q_text_raw      = item.text | default: item.q -%}
    {%- assign q_author_raw    = item.author | default: page.author_name | default: site.organization.name -%}
    {%- assign q_date_raw      = item.date_published | default: page.date_published | default: page.date -%}
    {%- assign q_date_iso      = q_date_raw | date_to_xmlschema -%}
    {%- assign a_author_raw    = item.answer_author | default: q_author_raw -%}
    {%- assign a_date_raw      = item.answer_date_published | default: item.date_published | default: q_date_raw -%}
    {%- assign a_date_iso      = a_date_raw | date_to_xmlschema -%}
    {%- assign q_url           = item.url | default: page_url -%}
    {%- assign a_url           = item.answer_url | default: q_url -%}
    {%- assign faq_upvotes     = item.upvoteCount | default: 0 -%}
    {
      "@type": "Question",
      "name": {{ item.q | jsonify }},
      "url": {{ q_url | jsonify }},
      "author": {
        "@type": "Organization",
        "name": {{ q_author_raw | jsonify }}
      },
      "datePublished": "{{ q_date_iso }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ item.a | jsonify }},
        "url": {{ a_url | jsonify }},
        "author": {
          "@type": "Organization",
          "name": {{ a_author_raw | jsonify }}
        },
        "datePublished": "{{ a_date_iso }}",
        "upvoteCount": {{ faq_upvotes }}
      }
    }{%- if forloop.last == false -%},{%- endif -%}
    {%- endfor -%}
  ]
}
</script>
{%- endif -%}
